<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Todo page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <style type="text/css">
        .center_div{
            margin: 10% auto;
            width:80% /* value of your choice which suits your alignment */
        }
    </style>
</head>
<body>
<form th:action="@{/todo}" th:object="${todo}" method="post">
    <div class="panel panel-primary center_div">
        <div class="panel-body">
            <div class = "panel-heading">
                <h3 class = "panel-title">Task Addition</h3>
            </div>

            <div class="form">
                <div class="input-group">
                    <input type="text" class="form-control" th:field="*{todoText}"/>
                    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-plus"></span> Add Task</button>
            </span>
                </div>
                <div class="alert alert-info" th:if="${info}">
                    <strong th:text="${msg}"></strong>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <table class="table table-bordered" th:if="${render}">
        <thead>
        <tr>
            <th>Todo</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="todo : ${todos}">
            <td data-th-text="${todo.todoText}"></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>